<footer>
    <div class="footer-container">
        <div class="footer-logo-img">
            <a href="/"><img src="/images/AR-Knight2.png" alt="logo-ferreteria"></a>
        </div>
        <article class="main-footer-top-bar">
            <ul>
                <li><a href="/">Categorias</a></li>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Contactenos</a></li>
                <li><a href="/">Sucursales</a></li>
            </ul>
            <ul>
                <li><a href="/">Suscribirse</a></li>
                <li><a href="/register">Crear cuenta</a></li>
                <li><a href="/login">Ingresar</a></li>
                <li><a href="/">Mis compras</a></li>
            </ul>
            <section class="redes-sociales-container">
                <p class="redes">Seguinos en:</p>
                <div class="redes-sociales">
                    <div class="facebook">
                        <a href="https://www.facebook.com/profile.php?id=100089611234902"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div class="instagram">
                        <a href="https://www.instagram.com/arknightferreteria/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div class="twitter">
                        <a href="/"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </section>  
        </article>
    </div>
    <span class="copy">Copyright ©️ 2022-2023 AR Knight Ferreteria S.R.L.</span>
</footer>