<header class="main-header">
    <div class="main-header-top-bar">
        <div class="logo">
            <a href="/">
                <img src="/images/AR-Knight2.png" alt="logo-ferreteria">
            </a>
        </div>
        <form action="" method="">
            <div class="busqueda">
                <input type="search" placeholder="Buscar productos, marcas...">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button> 
            </div>
        </form>
        <div class="main-header-rigth-bar">
                <div class="glass">
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    <div class="glass-content">
                        <input type="search" placeholder="Buscar productos, marcas...">
                    </div>
                </div>    
                <div class="user">
                    <a href="/admitProducts"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="carrito"> 
                    <a href="/products/productCard"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="burger-menu">
                <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-content">
                <a href="/">Categorias</a>
                <a href="/">Ofertas</a>
                <a href="/">Contactenos</a>
                <a href="/">Sucursales</a>
                <a href="/products">Productos</a>
                <a href="/register">Crear cuenta</a>
                <a href="/login">Ingresar</a>
                <a href="/">Mis compras</a>
            </div>
        </div>
    <nav class="main-header-nav-bar">
        <ul class="left-nav-bar">
            <div class="categorias">
                <li><a href="/">Categorias</a></li>
                <div class="categorias-content">
                    <a href="">Herramientas Electricas</a>
                    <a href="">Herramientas Manuales</a>
                    <a href="">Pinturas</a>
                    <a href="">Construccion en Seco</a>
                    <a href="">Jardin</a>
                    <a href="">Decoracion</a>
                    <a href="">Plomeria</a>
                    <a href="">Electricidad</a>
                    <a href="">Ferreteria</a>
                </div>
            </div>
            <li><a href="/">Ofertas</a></li>
            <li><a href="/">Contactenos</a></li>
            <li><a href="/">Sucursales</a></li>
            <li><a href="/products">Todos los productos</a></li>
        </ul>
        <ul class="rigth-nav-bar">
            <li><a href="/register">Crear cuenta</a></li>
            <li><a href="/login">Ingresar</a></li>
            <li><a href="/">Mis compras</a></li>
        </ul>
    </nav>
</header>