<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>

    <main class="productdetail">
        <section class="detalles">
          <article class="arti-menu">
         <div class="pasarella-img">
           <div class="img1-1">
           <img  class="i1" src="/images/detalles/b06112537h0-03.jpg" alt="">
            <img class="i2" src="/images/detalles/b06112537h0-02.jpg" alt="">
            </div>
            <div class="img2-2">
             <img  class="i3" src="/images/detalles/b06112537h0-04.jpg" alt="">
             <img  class="i4" src="/images/detalles/b06112537h0-05.jpg" alt="">
          </div> 
        </div> 
        <div>
          <img  class="moto" src="/images/rotomartillo bosch.jpg" alt="agujereadora">
        </div>
        </article>
          <article class="muestreo">
          <div class="confin">
          <h1>
          Rotomartillo bosch   
          </h1>
           <p>
            precio $40000    
           </p>
         <p class="rallado">
           precio anterior $60000 
         </p>
          </div>
          <div class="btn-car">
            <button class="blink"> <a href=""></a> Editar </button>
            <button class="blink2">
                <a href="/products/productCard"></a>Eliminar</button>
            </div>
          </article>
        <div class="botones">
           <button class="b-datalle">
            Descripcion 
           </button>
           <div class="Descripcion-detalle">
           <p>Poderoso motor de 1250W para un amplio rango de aplicaciones de taladro y cincelado     Diseño con piston en L para mayor poder </p>   
           
          </div>
     </div>
    </section>

    
       <div class="rulo">
         <h1>Productos relacionados</h1>
       </div>
       <section class="arti-recomendados">
       <article class="pasarela">
         
           <div class="r-img">
           <img class="r-i"  src="/images/rotomartillo lusqtoff.jpg" alt="" >
           </div>
           <p>rotomartillo lusqtoff</p>
           <p>115mm 820w G720</p>
           <div class="prices">
               <h4>$30.000</h4>
               <h2>$15.000</h2>
           </div>
           <div class="b-carri">
          <button  type="submit"><a href="/products/productCard">Agregar al carrito</a></button>
           </div>
           </article>
       <article class="pasarela">
         
           <div class="r-img">
            <img class="r-i" src="/images/rotomartillo deWalt.jpg" alt="" >
           </div>
           <p>rotomartillo dewalt</p>
           <p>115mm 820w G720</p>
           <div class="prices">
               <h4>$40.000</h4>
               <h2>$10.000</h2>
           </div>
           <div class="b-carri">
          <button  type="submit"><a href="/products/productCard">Agregar al carrito</a></button>
            </div>
           </article>

           <article class="pasarela">
         
            <div class="r-img">
             <img class="r-i" src="/images/rotomartillo deWalt.jpg" alt="" >
            </div>
            <p>rotomartillo dewalt</p>
            <p>115mm 820w G720</p>
            <div class="prices">
                <h4>$40.000</h4>
                <h2>$10.000</h2>
            </div>
            <div class="b-carri">
           <button  type="submit"><a href="/products/productCard">Agregar al carrito</a></button>
             </div>
            </article>












           </section>
           

      </main>
      

<%- include("../partials/footer") %>

</body>
</html>