<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class="admin">
        <div class="Administrador">
            <div class="buttons">
                <a href="../products/create">
                    <button>crear producto</button>
                </a>
                <a href="/products">
                    <button>todos los productos</button>
                </a>
                <a href="/users/register">
                    <button>crear usuario</button>
                </a>
                <a href="/">
                    <button>todos los usuarios</button>
                </a>
            </div>
            <div class="bienvenido">
              <h1>  Bienvenido!! </h1>
              <h2> Al panel de Administrador </h2>
            </div>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>