<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>

    <main class="login">
        <div class="login-container">
            <form action="/" method="post" class="container">
                <h1>Login</h1>
                <hr>                    
                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <input class="input-style" type="password" name="password" placeholder="Ingrese su contraseña">
                    <span class="error-message">Debe ingresar su contraseña</span>
                </div>
                <div class="check">
                    <input type="checkbox" name="recordar" id="recordar"> 
                    <label for="recordar">  Recordarme </label>
                </div>
                <button type="submit" class="btn">Ingresar</button>
                <span><a href="">¿Olvidaste tu contraseña?</a></span>
                <span><a href="/register">Aún no tengo cuenta</a></span>
            </form>
          </div>
          <div class="img-container">
            <img src="/images/AR-Knight2.png" alt="">
          </div>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>



