<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %>
    
<body>

    <%- include("../partials/header") %>

    <main class="register">
        <div class="img-container">
            <img src="/images/AR-Knight2.png" alt="">
        </div>
        <div class="form-container">
            <h1 class="title">Registrate</h1>
            <hr>
            <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <input class="input-style" type="text" name="name" placeholder="Ingrese su Nombre y apellido">
                        <span class="error-message">Debe ingresar su Nombre y Apellido</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="password" name="password" placeholder="Ingrese su contraseña">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="password" name="password2" placeholder="Re-ingrese su contraseña">
                        <span class="error-message">Debe Re-ingresar su contraseña</span>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="terms" id="recordar"> 
                        <label for="terms">  Acepto los <a href="">términos y condiciones</a> </label>
                        <span class="error-message">Debe aceptar los términos y condiciones</span>
                    </div>
                    <div class="submit-container">
                        <div class="button-container">
                            <span class="error-message">Credenciales inválidas</span>
                            <button type="reset" class="btn btn-reset">Cancelar</button>
                        </div>
                        <div class="button-container">
                            <span class="error-message">Credenciales inválidas</span>
                            <button type="submit" class="btn btn-submit">Registrarme</button>
                        </div>
                    </div>
                    <span><a href="/users/login">Ya tengo cuenta</a></span>
                     
                </div>
            </form>
        </div>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>

