.admin a{
    text-decoration: none;
    color: black;
    margin: 10px;
    width: 200px;
}
.admin .Administrador{
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.admin .Administrador div.bienvenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--naranja);
}
@media (min-width: 769px){
    .admin .Administrador{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1024px){
    .admin .Administrador{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .admin .Administrador div.buttons{
        justify-content:left;
    }
    .admin div.bienvenido{
        flex-grow: 1;
    }
}