btn-3 .button-container{
    width: 120px;
    margin: .5rem 0 1rem 0;
}
.home article.product button{
    text-align: center;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    background-color: var(--naranja);
    margin-bottom: 0.4rem;
}

.home article.product button:hover{
    background-color:gray;
    color: black;
    box-shadow: 5px 5px 15px black;}

.home article.product button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.admin .Administrador div.buttons{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.admin .buttons button{
    width: 100%;
    height: 30px;
    background-color: var(--naranja);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.admin .buttons button:hover{
    background-color:gray;
    color: black;
    box-shadow: 5px 5px 15px black;
}