/*HEADER*/

header{
    background-color: var(--naranja);
    display: flex;
    padding: 15px 5px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.main-header{
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.header-opacity {
    opacity: 0.95;
}

.main-header-top-bar{
    width: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-header-top-bar .logo img{
    width: 120px;
}
.main-header-rigth-bar{
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}
.main-header-rigth-bar i{
    color: black;
}
.main-header-rigth-bar i:hover{
    color: var(--celeste);
    transform: scale(1.5);
}
.busqueda, .main-header-nav-bar{
    display: none;
}

/* START MENU MOVIE*/
div.dropdown{
    display: inline-block;
    margin: 5px;
}
.dropdown-content{
    display: none;
}

.dropdown-block {
    display: block !important;
    position: absolute;
    right: 0px;
    top: 153px;
    background-color: var(--naranja);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;
}


/*PULL DOWN CATEGORIAS MOVIE*/

.dropdown-content .categoria .categoryMenu {
    display: none;
}

.dropdown-content .categoria .pullDownCartegories {
    display: block !important;
    position: absolute;
    right: 0px;
    background-color: var(--naranja);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;
}

.dropdown-content .categoria .sucursalMenu {
    display: none;
}

.dropdown-content .categoria .pullDownSucursal {
    display: block !important;
    position: absolute;
    right: 0px;
    background-color: var(--naranja);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;
}

/*BOTON MENU MOVIE*/
.main-header-top-bar .dropdown .burger-menu{
    background-color: #42a5f5;
    color: black;
    padding: 10px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



div.glass{
    display: inline-block;
    position: relative;
    margin: 5px;
}
.glass-content{
    display: none;
    position: absolute;
    right: -50px;
    top: 20px;
}
.glass-content input{
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 4px;
}
.glass:hover .glass-content{
    display: block;
}
div.user{
    position: relative;
}
.user-content{
    display: none;
    position: absolute;
    color: black;
    background-color: var(--naranja);
    right: -20px;
    min-width: 160px;
    height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.user:hover .user-content{
    display: flex;
    flex-direction: column;
}
.user-content a{
    justify-content: center;
    align-items: center;
    padding: auto;
    height: 40px;
    text-align: center;
    margin: 5px;
    color: black;
}
.user-content a:hover{
    border-radius: 10px;
    border-top: 3px solid #1259c3;
    box-shadow: 1px 1px 5px var(--marron);
}
.session {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #00d900;
    border-radius: 50px;
    position: relative;
    top: -10px;
    right: 0px;
}
@media (min-width: 579px){
    .busqueda{
        display: block;
        position: relative;
        
    }
    .busqueda input{
        width: 200px;
        height: 25px;
        border: none;
        border-radius: 4px;
    }/* 
    .busqueda:focus {
        box-shadow: 5px 5px 15px gray;
    } */
    .busqueda button{
        color: black;
        background-color: white;
        border: none;
        position: absolute;
        width: 19px;
        height: 19px;
        right: 1px;
        top: 3px;

    }
   
    div.glass{
        display: none;
    }
}
@media (min-width: 817px){

    div.dropdown{
        display: none;
    }
    .main-header-nav-bar{
        display: flex;
        justify-content: space-between;
    }
    .main-header-nav-bar a{
        display: flex;
        padding: 5px;
        text-decoration: none;
        color: black;
    }
    .main-header-nav-bar li{
        list-style: none;
        margin: 10px;
    }
    .main-header-nav-bar a:hover{
        display: flex;
        border-radius: 10px;
        border-top: 3px solid #1259c3;
        box-shadow: 1px 1px 5px var(--marron);
    }
    .main-header-nav-bar li:hover{
        transform: scale(1.2);
        z-index: 10;
    }
    .left-nav-bar{
        flex-grow: 0.4;
        display: flex;
        justify-content: space-around;
    }
    .rigth-nav-bar{
        flex-grow: 0.3;
        display: flex;
        justify-content: space-around;
    }
    div.categorias{
    display: flex;
    position: relative;

    }
    .categorias-content{
    display: none;
    
    }

    .pullDownMenu{
        display: block !important;
        position: absolute;
        top: 91px;
        background-color: var(--naranja);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
    }



}
@media (min-width: 1020px){
    .main-header-top-bar .logo img{
        width: 100px;
    }
}
