

div.banner-conteiner img{
    width: 100%;
    margin-top: 0.1rem;
}
main section h3.titulo-productos {
    color: var(--naranja);
}
main.home div.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.titulo_oferta {

    display: flex;
    background-color: green;
    margin-left: 60px;
    width: 151px;
    /* padding: 0.2rem; */
    padding: 5px;
    color: white;
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    background-color: green;
    justify-content: space-between;

 }  


 .titulo_oferta .cartel {
    margin-left: 22px;
    display: flex;
    align-items: center;
}

.nuevo section h3 {
    margin-left: 60px;
    background-color: green;
    width: 200px;
    color: white;
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    padding: 5px;
}

.titulo_stilo {
    margin-left: 60px;
    background-color: green;
    width: 200px;
    color: white;
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    padding: 5px;
}

.home article.product{
    width: 250px;
    height: 480px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.home article.product:hover{
    border: 3px solid var(--naranja);
    box-shadow: 5px 5px 15px black;
    z-index: 10;
}

.home article.product div.photo-container{
    position: relative;
    display: flex;
    object-fit: cover;
}

.home article.product div.photo-container img.photo{
   width: 100%;
   height: 100%;
}

.home article.product div.photo-container .productDiscount {
    position:absolute;
    top: -4px;
    right: -4px;
    padding: 5px;
    color: white;
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    background-color: green;
}

.home div.precio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.home div.precio h2 {
    color: #39b54a;
}

.home div.precio h4{
    text-decoration: line-through;
}


.home div.banner-pintura img{
    width: 100%;
    margin:10px 0;
}

/* OFERTAS ESTRELLA */
