/*-----------------STYLE GENERAL-----------------*/
@import url('style.css');

/*-------------------STYLE GENERAL------------------*/

/*STAR HEADER*/


/*END HEADER*/

/* STAR MAIN*/
div.banner-conteiner img{
    width: 100%;
}
main.home div.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home div.ofertas section h2, div.nuevo section h2, h2.seco, h2.pintura {
    text-align: center;
}
.home article.product{
    width: 250px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home article.product:hover{
    border: 3px solid var(--naranja);
    transform: scale(1.1);
    z-index: 10;
}


.home article.product div.photo-container{
    position: relative;
    display: flex;
}
.home article.product div.photo-container img.special{
    position: absolute;
    top: 100;
    right: 10;
}
.home article.product div.photo-container img.photo{
    width: 100%;
    height: 100%;
}
.home div.precio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid lightgray;
    padding: 15px;
}
.home div.precio h2 {
    color: #39b54a;
}
.home div.precio h4{
    text-decoration: line-through;
}
.home p.cuotas{
    margin-bottom: 10px;
}
.home article.product button{
    text-align: center;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    background-color: #1259c3;
}
.home article.product button:hover{
    background-color: var(--naranja);
}

.home article.product button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.home div.banner-pintura img{
    width: 100%;
    margin:10px 0;
}
.construccion-en-seco-container{
    display: none;
}
h2.seco{
    display: none;
}

@media (min-width: 769px) {
    h2.seco{
        display:block;
    }
    .home article.product-seco div.photo-container img.photo{
        width: 100%;
    }
    .home article.product-seco div.photo-container{
        position: relative;
        display: flex;
    }
    .home div.construccion-en-seco-container{
        margin: 10px 0;
        display: flex;
    }
    .home div.construccion-en-seco{
        width: 700px;
        height: 905px;
    }
    .home div.construccion-en-seco img{
        height:100%;
    }
    main.home div.product-container-seco{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home article.product-seco div.photo-container{
        position: relative;
        display: flex;
    }
    .home article.product-seco{
        width: 280px;
        height: 300px;
        background-color: white;
        border: 1.5px solid black;
        border-radius: 5px;
        padding: 5px;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
    
    }
    .home article.product-seco:hover{
        border: 3px solid var(--naranja);
    }
    .home article.product-seco div.photo-container img.photo{
        width: 100%;
        height: 100%;
    }
    .home article.product-seco button{
        border-radius: 15px;
        width: 200px;
        height: 30px;
        background-color: #1259c3;
        position: absolute;
        bottom: 50px;
    }
    .home article.product-seco button:hover{
        background-color: var(--naranja);
    }
    .home article.product-seco button a{
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    section.seco2{
        display: none;
    }
}
@media (min-width: 1200px){
    section.seco2{
        display:flex;
    }

}