.admin #global {
	height: 400px;
	width: 340px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
.admin #mensajes {
	height: auto;
}
.admin .texto {
	padding:4px;
	background:#fff;
}
.admin article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}
.admin div.detalle{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.admin div.imagen-producto{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
}
.admin div.imagen-user{
    width: 100px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
}
.admin img.producto{
    width: 100%;
}
.admin img.user{
    width: 100%;
    height: 100%;
}
.admin .botones{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin button{
    margin: 10px;
    cursor: pointer;
}
.admin button:hover{
    box-shadow: 5px 5px 15px black;
}
.admin .btn1{
    background: lightgreen;
}
.admin .btn2{
    background: lightcoral;
}
@media (min-width:  769px){
    .admin #global {
        width: 740px;
    }
    .admin article{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 710px;
        height: 160px;
        border: 2px solid black;
        border-radius: 10px;
    }
}
@media (min-width:  1300px){
    .admin #global {
        width: 1000px;
    }
    .admin article{
        width: 975px;
    }
}