
   .productdetail {
        display: flex;
      flex-direction: column;
       box-sizing: border-box;
    
    }
   .productdetail .detalles {
        border: 2px solid #39b54a;
        border-radius: 1rem;
        padding: 3px  ;
        margin: 10px;
        background-color: white;

}

div .moto {
    width:70%;
    height:70%;
}
   
.moto {
    object-fit: cover;
    border-radius: 10px;
    margin: 20px;
}
 .botones{
    display: flex;
    justify-content: center;
   }


.botones button {
    border: 0.1rem solid black ;
    background-color:  #1259c3;
    color:rgb(234, 234, 234);
    transition:all 0.5s;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    margin: 55px;
}   

.botones button:hover {
    background-color: rgb(22, 136, 218);
    color: rgb(18, 18, 17) ;
    border: 3px solid black;
}



.muestreo {
   display: flex;
   flex-direction: column;
   justify-content:space-around;
    
   
}

.muestreo h1 {
    text-align: center;
    text-decoration: underline;
   
}

.muestreo h4 {
    text-align: center;
    padding-bottom: 1.2rem;
}
.muestreo p {
    text-align: center;

}
.muestreo p.rallado {
    text-decoration: line-through;
}

  .btn-car{
    display: flex;
    justify-content: center;    
}


button.blink{
    color: rgb(206, 205, 203);
    background-color:  #1259c3;
    padding: 0.2rem;
    border: 2px solid black;
    border-radius: 1rem;
    transition: all 0.5s;
    margin: 5px;
    width: 200px;
    height: 30px;
}
button.blink:hover {
    background-color:  rgb(22, 136, 218);
    color: rgb(2, 2, 2) ;
    border: 3px solid black;
}

button.blink2 {
   
    background-color: #1259c3;
    padding: 0.2rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin:5px;
    transition: all 0.5s;
    width: 200px;
    height: 30px;


}
button.blink2 a  {
    color: rgb(255, 255, 249);
    text-decoration: none;
}


button.blink2:hover{
    background-color:rgb(22, 136, 218);
    border: 3px solid black;
}
button.blink2:hover a {
    color: rgb(16, 16, 16) ; 
}

.rulo h1 {
    text-align: center;
    height: 70px;
    border-radius: 1rem;
  
 }


 .arti-recomendados {
    display: flex;
 }

.pasarela {
    display: flex;
    flex-direction: column;
    height: 350px;
     margin: 15px;
    border: 2px solid #39b54a ;
    background-color: white;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}
.r-img  {
   display : flex ;
    margin: 10px;
    padding: 3px;
}
 .r-i {
width: 150px;

}




  


@media  (min-width: 769px){ 
    .moto {
        width: 300px;
        height: 300px;
    }


    .botones {
        display: flex;
        justify-content: space-around;
    }
     
    .muestreo {
     height: 400px;
     
    }

     .btn-car {
        margin: 100px;
    }

   .arti-recomendados{
    display : flex ;
    
   }
    
     
    .r-img {
        width: 250px;
       
} 
}
  
@media (min-width: 1200px){
 
 



    
    .rulo h1 {
    margin: 10px;
    font-size: 30px;
    text-transform:uppercase;
    
    }

    .pasarela {
         display: flex;
        height: 400px;
       
    }



    .r-img {
        width: 250px ;
        height: 200px;
        
    }
}


