.productSlider {
    font-family: var(--font_poppins);
}

.special-offers{
    width: 80%;
    margin: auto;
}

.productSlide {
    width: 230px;
    height: 400px;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    transition: all 1.2s ease;
    z-index: 1;
    border: 1px solid black;
}

.productSlide:hover {
    transform: scale(1.03);
}

.productSlide .productDiscount {
    position:absolute;
    top: 2px;
    right: 2px;
    padding: 5px;
    color: white;
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    background-color: green;
}


.productSlide img {
    width: 100%;
    border-bottom: 1px solid var(--primary);
}

.productSlide .productName {
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
    color: black;
}

.productSlide .precios {
    display: flex;
    justify-content: space-between;
}

.productSlide .precios h4 {
    display: flex;
    align-items: center;
    text-decoration: line-through;
    color: black;
}
.productSlide .precios h2 {
    color: green;
}

.productSlide p {
    color: black;
}

.productSlide .productPrice {
    font-size: 24px;
    margin: 10px auto;
}

.flickity-page-dots { display: none;}


.flickity-prev-next-button {
    height: 100% !important;
    border-radius: 0 !important;
}


.flickity-prev-next-button.next {
    right: -50px !important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(45,200,42,0.4514180672268907) 12%);
}

.flickity-prev-next-button.previous {
    left: -50px !important;
    background: linear-gradient(270deg, rgba(255,255,255,1) 1%, rgba(45,200,42,0.4514180672268907) 12%);
}

.flickity-button:hover {
    background: linear-gradient(270deg, rgba(255,255,255,1) 1%, rgba(45,200,42,0.8071603641456583) 12%)!important;
    cursor: pointer
}
.flickity-button:focus {
    outline: 0;
    box-shadow: none !important
}

@media screen and (min-width: 768px) {

    .productSlide {
        width: 30%;
        padding: 20px;
    }
    .special-offers{
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .productSlide {
        width: 20%;
        min-height: fit-content;
    }
    .special-offers{
        width: 95%;
    }
    
}

