/*-----------------STYLE GENERAL-----------------*/

/* HEADER */
.main-header-rigth-bar .carrito2 {
    display: none;
}

/* TITLE */

main.product-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

main .main-container {
    width: 90%;
    margin: auto;
}

main .main-container .cart-container .cart-container__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.4rem;
    margin: 0.5rem 0;
}

main .main-container .cart-container .cart-container__title li {
    list-style: none;
}

main .main-container .cart-container .cart-container__title .cart-container__title--card{
    font-size: var(--titulo);
}


main .main-container .cart-container li.cart-container__cart--container {
    margin-right: 0.5rem;
}

main .main-container .cart-container li.cart-container__cart--container a {
    position: relative;
}

main .main-container .cart-container li.cart-container__cart--container a i {
    font-size: 1.5rem;
    color: black;
}


main .main-container .cart-container li.cart-container__cart--container a span {
    position: absolute;
    top: -15px;
    right: -11px;
    width: 20px;
    height: 20px;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    color: white;    
}

main .main-container .cart-container .containerHF {
    display: flex;
    flex-direction: column;
}

main .main-container .cart-container .containerHF  .cart-container__tab-panel {
    min-width: 93px;
}

/* ------ TAB PANEL --------- */

main .cart-container .cart-container__tab-panel .item-row {
    width: 100%;
    border: 2px solid black;
    border-radius: 2%;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 1%;
    padding: 0.5rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart .photo-container {
    max-width: 110px;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart .photo-container .photo {
    width: 100%;
    padding: 0.4rem;
}




main .cart-container .cart-container__tab-panel .item-row .item--cart div.a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description p {
    margin-right: 0.5rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description div .precio h2 {
    margin-top: 0.5rem;
    font-size: 1rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description button {
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description button i {
    font-size: 1.5rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description button i:hover {
    font-size: 1.8rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from .boton {
    display: flex;
    border: 0.5px solid rgb(51, 201, 46);
    border-radius: 9px;
    height: 25px;
    justify-content: space-between;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from .boton div {
    display: flex;
    align-items: center;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from .boton .boton--resta ,
main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from .boton .boton--suma {
    display: inline-block;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
} 

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from .boton .boton--resta:hover {
    background: linear-gradient(90deg, rgb(52, 199, 47) 63%, rgba(255,255,255,1) 100%);
} 


main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from .boton .boton--suma:hover {
    background: linear-gradient(266deg, rgb(52, 199, 47) 63%, rgb(238, 238, 238) 100%);
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from  .precio--final h2 {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}



.separator {
    height: 8px;
}

/* ------ TAB PANEL FOOTER --------- */

/*TITLE*/

main .cart-container .containerHF .cart-container__footer-container {
    max-width: 400px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--title {
    background-color: var(--celeste);
    height: 50px;
    display: flex;
    justify-content: center;
   
}


main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--title h2 {
    font-size: var(--subtitulo);
    text-align: center;
}
/*BUTTON SEND*/

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery {
    display: flex;
    padding: 0.5rem;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--send {
    flex-grow: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-right: 0.5rem;
    border: 2px rgb(51, 201, 46) solid;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--send .icon{
    min-height: 61px;
    min-width: 61px;
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--send .icon i {
    font-size: 2rem;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--send .icon i:hover {
    font-size: 2.3rem;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--send .sub-title {
    padding-bottom: 0.5rem;
    text-align: center;
   
}

/*BUTTON IN STORY*/

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--in--story {
    flex-grow: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-left: 0.5rem;
    border: 2px rgb(51, 201, 46) solid;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--in--story .icon{
    min-height: 61px;
    min-width: 61px;
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--in--story .icon i {
    font-size: 2rem;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--in--story .icon i:hover {
    font-size: 2.3rem;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--delivery .cart-container__footer-container--delivery--in--story .sub-title {
    padding-bottom: 0.5rem;
    text-align: center;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--ticket {
    background-color: white;
    width: 100%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px rgb(51, 201, 46) solid;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: none;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--ticket .tickek--row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
}


main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--ticket .fondo {
    background-color:var(--naranja);
    border: 0.2rem solid rgb(11, 211, 11);
    border-radius: 5px;
    margin-bottom: 0.4rem
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--ticket .btn {
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #1259c3;
    border-radius: 15px;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--ticket .btn:hover {
    background-color: var(--naranja);
}

/* CONTAINER CARD*/

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card {
    display: flex;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card .cart-container__footer-container--credit__card--title {
    flex-grow: 1;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card .cart-container__footer-container--credit__card--cards {
    flex-grow: 1;
    width: 45px;
    height: 40px;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card .cart-container__footer-container--credit__card--cards {
    flex-grow: 1;    
    display: flex;
} 

/*CONTAINER CARD*/
main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card {
    background-color: white;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    border: 0.2px solid rgb(51, 201, 46);
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;  
    width: 100%;  
}


main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card .mediosDePago {
    width: 70%;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card .mediosDePago ul {
    width: 100%;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card .mediosDePago ul li {
    width:50px;
    margin: 0.2rem;
}

main .cart-container .containerHF .cart-container__footer-container .cart-container__footer-container--credit__card .mediosDePago ul li img {
    width: 100%;
    padding: 0.1rem;
} 

section.contai {
    margin : 2rem
}


/* MEDIA TABLET */

@media (min-width: 769px) {
    main .cart-container .cart-container__tab-panel .item-row .item--cart .photo-container {
    max-width: 140px;
}   
main .main-container .cart-container .containerHF {
    flex-direction: row;
    justify-content: space-between;
}
main .main-container .cart-container .containerHF  .cart-container__tab-panel {
    flex-grow: 0.7;
    margin-right: 0.8rem;
}
main .cart-container .containerHF .cart-container__footer-container {
    flex-grow: 0.4;
}

section.contai {
    margin : 4rem
}


}



