/*-----------------STYLE GENERAL-----------------*/
@import url('style.css');



/* START HEADER */

header.main-header {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-header__logo {
    padding-top: 0.5rem;
}


.main-header__segurity {
    display: flex;
    align-items: center;
}

.main-header__segurity i {
    font-size: 1.1rem;
    padding-right: 0.3rem;
}

.main-header__segurity p {
    font-size: var(--parrafo);
}

/* END HEADER */

/* -----START MAIN */

/* TITLE */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

main .main-container {
    width: 90%;
    margin: auto;
}

main .main-container .cart-container .cart-container__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.4rem;
    margin: 0.5rem 0;
}

main .main-container .cart-container .cart-container__title .cart-container__title--card{
    font-size: var(--titulo);
}


main .main-container .cart-container li.cart-container__cart--container {
    margin-right: 0.5rem;
}

main .main-container .cart-container li.cart-container__cart--container a {
    position: relative;
}

main .main-container .cart-container li.cart-container__cart--container a i {
    font-size: 1.3rem;
}


main .main-container .cart-container li.cart-container__cart--container a span {
    position: absolute;
    top: -15px;
    right: -11px;
    width: 20px;
    height: 20px;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    color: white;    
}

/* TAB PANEL*/


main .cart-container .cart-container__tab-panel .item-row .item--cart {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 160px;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart .photo-container .photo {
    width: 100px;
    padding: 0.4rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem;
    flex-direction: row;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description p {
    margin-right: 0.5rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .description button i {
    font-size: 0.8rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0.5rem;
}

main .cart-container .cart-container__tab-panel .item-row .item--cart div.a .item--cart__selecter--from .boton {
    display: flex;
}

.separator {
    height: 20px;
}