
   .productdetail {
        display: flex;
      flex-direction: column;
      margin: 15px;
    
     }
    
.productdetail .arti-menu {
    border: 2px solid #4b9d4a;
    margin: 10px;
   text-align: center;
    display: flex;
    flex-direction: column;
   
}

.botones .b-datalle {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
    background-color:var(--naranja);
}
    
.b-datalle:hover {
    opacity: 1;
    background-color: gray;
    color: black;
} 

.Descripcion-detalle {
    display:none;
    position: absolute;
  z-index: 1;
    border: 1px solid black;
    background-color: #4b9d4a;
    width: 50%;
    
   }


.botones:hover .Descripcion-detalle {
    display: block;
    
}

  .pasarella-img .moto {
 width: 100%;

}
  
.muestreo {
 display : flex ;
 flex-direction: column;
 justify-content:space-around

}

.muestreo .confin {
  margin: 15px;
  text-transform: lowercase;
}
.confin .rellado{
    padding: 15px;
    text-transform:uppercase ;
    
}
.confin .precio-final .rallo {
    padding: 10px;
    text-decoration: line-through;
}

.muestreo .btn-car {
    display: flex;
    flex-direction: column;
}

.blink , .blink2{
    padding: 8px 12px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
    background-color:var(--naranja);

}

 .blink:hover {
    opacity: 1;
    background-color: gray;
    color: black;
}

 .blink2:hover {
    opacity: 1;
    background-color: gray;
    color: black;
}



.blink a {
    color: black;
    text-decoration: none;

}
.blink2 a {
    color: black;
    text-decoration: none;

}

@media (min-width: 769px) {
 
    .detalles{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
     
   

}