




/* STYLES GENERAL*/

:root {
    /* --- COLOR --- */
    --naranja: #F4A553;
    --celeste: #CAF4FF;
    --marron: #C29669;
    /*-- FONT-SIZE --*/
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--celeste);
}
header{
    background-color: var(--naranja);
}
footer{
    background-color: var(--marron);
}