<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>

    <main class="productdetail">
        <section class="detalles">
        <div>
        <img  class="moto" src="/images/rotomartillo bosch.jpg" alt="agujereadora">
        </div>
        <article class="muestreo">
          <div class="confin">
          <h1>
          Rotomartillo bosch   
          </h1>
           <p>
            precio $40000    
           </p>
         <p class="rallado">
           precio anterior $60000 
         </p>
          </div>
          <div class="botones">
            <button>
              Descripcion 
             </button>
       </div>
      </article>
        <div class="btn-car">
        <button class="blink">Comprar ahora </button>
        <button class="blink2">
            <a href="/products/productCard">Agregar al carrito</a></button>
        </div>
      </section>
          
             <div class="rulo">
               <h1>Productos relacionados</h1>
             </div>
             <section class="arti-recomendados">
             <article class="pasarela">
               
                 <div class="r-img">
                 <img class="r-i"  src="/images/rotomartillo lusqtoff.jpg" alt="" >
                 </div>
                 <p>rotomartillo lusqtoff</p>
                 <p>115mm 820w G720</p>
                 <div class="prices">
                     <h4>$30.000</h4>
                     <h2>$15.000</h2>
                 </div>
                <button  type="submit"><a href="/products/productCard">Agregar al carrito</a></button>
 
                 </article>
             <article class="pasarela">
               
                 <div class="r-img">
                  <img class="r-i" src="/images/rotomartillo deWalt.jpg" alt="" >
                 </div>
                 <p>rotomartillo lusqtoff</p>
                 <p>115mm 820w G720</p>
                 <div class="prices">
                     <h4>$40.000</h4>
                     <h2>$10.000</h2>
                 </div>
                <button  type="submit"><a href="/products/productCard">Agregar al carrito</a></button>
 
                 </article>
                 </section>
                 

            </main>
            
    
    <%- include("../partials/footer") %>
   
</body>
</html>