<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>

    <main class="productdetail">
        <section class="detalles">
            <article class="arti">
               <div>
               <img  class="moto" src="/images/rotomartillo bosch.jpg" alt="agujereadora">
               </div>
               <div class="botones">
           <button>
               <a href="/products/edit/<%= product.id %>"></a>
           </button>
           <button>
            Descripcion 
           </button>
           </div>
            </article>
           <article class="muestreo">
           <h1>
            Rotomartillo bosch   
           </h1>
           <h4>
               detalle
           </h4>
           <p>
            precio $40000    
           </p>
           <p class="rallado">
           precio anterior $60000 
           </p>
           <div class="btn-car">
           <button class="blink">Comprar ahora </button>
           <button class="blink2">
               <a href="/productCard">Agregar al carrito</a></button>
           </div>
           </article>
            </section>
            <article class="pasarela">
            <div class="rulo">
              <h1>Productos relacionados</h1>
            </div>
              <div class="pasarimg">
                <div class="r-img">
              <img class="r-i1"  src="/images/rotomartillo deWalt 2.jpg" alt="" >
              <img class="r-i2"  src="/images/rotomartillo lusqtoff.jpg" alt="" >
                </div>
                <div class="n-img">
              <img class="n-i1" src="/images/rotomartillo deWalt.jpg" alt="" >
              <img class="n-i2" src="/images/rotomartillo-lusqtoff.jpg" alt="" >
                 </div>
                </div>
             
             
            </article>
    </main>

    <%- include("../partials/footer") %>
   
</body>
</html>