<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Cargar producto:</i></h2>
                </div>
            </div>
            <div class="col-12">
                <form action="/products/create/" method="POST">
                    <div class="row product-detail">
                        <div class="col-12 col-md-6">
                            <label for="titulo" class="form-label">Nombre del producto:</label>
                            <input type="text" id="titulo" name="titulo" placeholder="Ej: Zapatillas Reebok" value="titulo" class="form-input">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label">Precio del producto:</label>
                            <input type="number" id="price" name="price" value="price" placeholder="Ej: 5678" class="form-input">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="discount" class="form-label">Descuento:</label>
                            <input type="number" id="discount" name="discount" placeholder="Ej: 15" value="discount" class="form-input">
                        </div>
                        <div class="col-12">
                            <label for="cuotas" class="form-label">Cuotas</label>
                            <input type="number" id="cuotas" name="cuotas" value="cuotas" placeholder="Edite cuotas" class="form-input">
                        </div>
                        <div class="col-12">
                            <label for="description" class="form-label">Descripción:</label>
                            <textarea type="textarea" name="description" id="description" value="textarea" class="form-input"></textarea>
                        </div>
                        <div class="col-12">
                            <label for="modelo" class="form-label">Sub-categoria</label>
                            <input type="text" id="modelo" name="modelo" value="modelo" placeholder="Edite el modelo" class="form-input">
                        </div>
                        <div class="col-12">
                            <label for="image" class="form-label">Imagen:</label>
                            <input type="file" id="imagen" name="imagen" value="imagen" class="form-input">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="buy-now-button">Guardar producto</button>
                        </div>
                    </div>
                </form>
            </div>
    
        </div>

    </main>
    
    <%- include("../partials/footer")%>

</body>
</html>