<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>

    <main class="product-card">
        <div class="main-container">

            <div class="cart-container">
                <ul class="cart-container__title">
                    <li class="cart-container__title--card"><span>Carrito</span></li>
                    <li class="cart-container__cart--container">
                        <a href="#" >
                            <i class="fa-solid fa-cart-shopping">
                            </i>
                            <span>
                                10
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="containerHF">
                    <div class="cart-container__tab-panel">
                        <section class="item-row">
                            <article class="item--cart">
                                <div class="photo-container">
                                    <img class="photo" src="/images/motocierra-b+d.jpg" alt="motocierra">
                                </div>
                                <div class="a">
                                    <div class="description">
                                        <div>
                                            <p>Motosierra 55cc 20 P Longitud Espada</p>
                                            <div class="precio">
                                                <h2>$51.826</h2>
                                            </div>
                                        </div>
                                        <button type="submit">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                    <div class="item--cart__selecter--from">
                                        <div class="boton">
                                            <button type="submit" class="boton--resta">
                                                <span>-</span>
                                            </button>
                                            <div>
                                                <span>1</span>
                                            </div>
                                            <button type="submit" class="boton--suma">
                                                <span>+</span>
                                            </button>
                                        </div>
                                        <div class="precio--final">
                                            <h2>$51.826</h2>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <div class="separator"></div>
                        <section class="item-row">
                            <article class="item--cart">
                                <div class="photo-container">
                                    <img class="photo" src="/images/motocierra-b+d.jpg" alt="motocierra">
                                </div>
                                <div class="a">
                                    <div class="description">
                                        <div>
                                            <p>Motosierra 55cc 20 P Longitud Espada</p>
                                            <div class="precio">
                                                <h2>$51.826</h2>
                                            </div>
                                        </div>
                                        <button type="submit">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                    <div class="item--cart__selecter--from">
                                        <div class="boton">
                                            <button type="submit" class="boton--resta">
                                                <span>-</span>
                                            </button>
                                            <div>
                                                <span>1</span>
                                            </div>
                                            <button type="submit" class="boton--suma">
                                                <span>+</span>
                                            </button>
                                        </div>
                                        <div class="precio--final">
                                            <h2>$51.826</h2>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <div class="separator"></div>
                        <section class="item-row">
                            <article class="item--cart">
                                <div class="photo-container">
                                    <img class="photo" src="/images/motocierra-b+d.jpg" alt="motocierra">
                                </div>
                                <div class="a">
                                    <div class="description">
                                        <div>
                                            <p>Motosierra 55cc 20 P Longitud Espada</p>
                                            <div class="precio">
                                                <h2>$51.826</h2>
                                            </div>
                                        </div>
                                        <button type="submit">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                    <div class="item--cart__selecter--from">
                                        <div class="boton">
                                            <button type="submit" class="boton--resta">
                                                <span>-</span>
                                            </button>
                                            <div>
                                                <span>1</span>
                                            </div>
                                            <button type="submit" class="boton--suma">
                                                <span>+</span>
                                            </button>
                                        </div>
                                        <div class="precio--final">
                                            <h2>$51.826</h2>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <div class="separator"></div>
                    </div>
                    <div class="cart-container__footer-container">
                            <div class="cart-container__footer-container--title">
                                <h2>Seleccion la zona de entrega o envio</h2>
                            </div>
                            <div class="cart-container__footer-container--delivery">
                                <div class="cart-container__footer-container--delivery--send">
                                    <button type="submit" class="icon">
                                        <i class="fa-sharp fa-solid fa-truck"></i>
                                    </button>
                                    <div class="sub-title">
                                        <h4>
                                            Envio a domicilio
                                        </h4>
                                    </div>
                                </div>
                                <div class="cart-container__footer-container--delivery--in--story">
                                    <button type="submit" class="icon">
                                        <i class="fa-sharp fa-solid fa-store"></i>
                                    </button>
                                    <div class="sub-title">
                                        <h4>
                                            Retirar en tienda
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-container__footer-container--title">
                                <h2>Resumen</h2>
                            </div>
                            <div class="cart-container__footer-container--ticket">
                                <div class="tickek--row fondo">
                                    <div class="ticket--row__concepts">
                                        <h6>Precio de mis productos</h6>
                                    </div>
                                    <div class="ticket--row__NUMBER">
                                        <h5>$9999</h5>
                                    </div>
                                </div>
                                <div class="tickek--row">
                                    <div class="ticket--row__concepts">
                                        <h6>ENVIOS</h6>
                                    </div>
                                    <div class="ticket--row__NUMBER delivery">
                                        <h5>$9999</h5>
                                    </div>
                                </div>
                                <div class="tickek--row fondo">
                                    <div class="ticket--row__concepts">
                                        <h6>TOTAL:</h6>
                                    </div>
                                    <div class="ticket--row__NUMBER">
                                        <h5>$9999</h5>
                                    </div>
                                </div>
                                <button type="submit" class="btn">Comprar</button>
                                <button type="submit" class="btn">Seguir comprando</button>
                            </div>
    
                            <div class=" cart-container__footer-container--credit__card">
                                <div class="titulo">
                                    <h5>
                                        Medios de pagos:
                                    </h5>
                                </div>
                                <div class="mediosDePago">
                                    <ul class="cart-container__footer-container--credit__card--cards">
                                        <li>
                                            <img src="/images/visa.jpg" alt="Visa">
                                        </li>
                                        <li>
                                            <img src="/images/master-card.jpg" alt="Mastercard">
                                        </li>
                                        <li>
                                            <img src="/images/cash.jpg" alt="Efectivo">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>

</body>

</html>