<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLES -->
    <title>AR Knight - Home</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Gemstones&display=swap" rel="stylesheet">
    <!---->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <!-- STYLES -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- ICON WEB -->
    <link rel="shortcut icon" href="images/logo.png"/>
</head>
<body>
    <header class="main-header">

        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="logo-ferreteria">
            </a>
        </div>
        
        <div class="main-header-rigth-bar">
            <div class="main-header-rigth-bar__user">
                
            </div>
            <div class="main-header-rigth-bar__card">
                
            </div>
        </div>
        <nav class="main-header-top-bar">
            <ul>
                <li><a href=""></a>Categorias</li>
                <li><a href=""></a>Ofertas</li>
                <li><a href=""></a>Contactenos</li>
                <li><a href=""></a>Sucursales</li>
            </ul>
            <ul>
                <li><a href=""></a>Crear cuenta</li>
                <li><a href=""></a>Ingresar</li>
                <li><a href=""></a>Mis compras</li>
            </ul>
        </nav>
    </header>
    <main class="home">
        <div class="banner-conteiner">
            <img src="/images/BANNER-HERRAMIENTAS.jpg" alt="banner">
        </div>
        <div class="ofertas">
        <section>
            <h2>Ofertas</h2>
            <div class="product-container">
                <article class="product">
                    <div class="photo-container">
                        <img class="photo" src="/images/rotomartillo-deWalt-2.jpg" alt="pdto 02">
                        <img class="special" src="/images/img-descuento.png" alt="nuevo">
                    </div>
                    <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                    <div class="precio">
                        <h4>$74.036</h4>
                        <h2>$51.826</h2>
                    </div>
                    <p class="cuotas">
                        3 cuotas sin interes de $17.276
                    </p>
                    <button type="submit"><a href="/productCard">agregar al carrito</a></button>
                </article>
                <article class="product">
                    <div class="photo-container">
                        <img class="photo" src="/images/rotomartillo-lusqtoff.jpg" alt="pdto 02">
                        <img class="special" src="/images/img-descuento.png" alt="nuevo">
                    </div>
                    <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                    <div class="precio">
                        <h4>$74.036</h4>
                        <h2>$51.826</h2>
                    </div>
                    <p class="cuotas">
                        3 cuotas sin interes de $17.276
                    </p>
                    <button type="submit"><a href="/productCard">agregar al carrito</a></button>
                </article>
                <article class="product">
                    <div class="photo-container">
                        <img class="photo" src="/images/rotomartillo-stanley.jpg" alt="pdto 02">
                        <img class="special" src="/images/img-descuento.png" alt="nuevo">
                    </div>
                    <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                    <div class="precio">
                        <h4>$74.036</h4>
                        <h2>$51.826</h2>
                    </div>
                    <p class="cuotas">
                        3 cuotas sin interes de $17.276
                    </p>
                    <button type="submit"><a href="/productCard">agregar al carrito</a></button>
                </article>
                <article class="product">
                    <div class="photo-container">
                        <img class="photo" src="/images/motocierra-b+d.jpg" alt="pdto 02">
                        <img class="special" src="/images/img-descuento.png" alt="nuevo">
                    </div>
                    <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                    <div class="precio">
                        <h4>$74.036</h4>
                        <h2>$51.826</h2>
                    </div>
                    <p class="cuotas">
                        3 cuotas sin interes de $17.276
                    </p>
                    <button type="submit"><a href="/productCard">agregar al carrito</a></button>
                </article>
                <article class="product">
                    <div class="photo-container">
                        <img class="photo" src="/images/motocierra-b+d.jpg" alt="pdto 02">
                        <img class="special" src="/images/img-descuento.png" alt="nuevo">
                    </div>
                    <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                    <div class="precio">
                        <h4>$74.036</h4>
                        <h2>$51.826</h2>
                    </div>
                    <p class="cuotas">
                        3 cuotas sin interes de $17.276
                    </p>
                    <button type="submit"><a href="/productCard">agregar al carrito</a></button>
                </article>
            </div>
            </section>
        </div>
        <div class="construccion-en-seco-container">
            <div class="construccion-en-seco">
                <img src="/images/construccion-en-seco-2.jpg" alt="">
            </div>
            <section>
                <div class="product-container-en-seco">
                    <article class="product-seco">
				        <div class="photo-container-seco">
					        <img src="/images/perfileria.jpg" alt="">
				        </div>
                        <button type="submit"><a href="/productDetail">detalles</a></button>
			        </article>
                </div>
                <div class="product-container-en-seco">
                    <article class="product-seco">
				        <div class="photo-container-seco">
					        <img src="/images/perfileria.jpg" alt="">
				        </div>
                        <button type="submit"><a href="/productDetail">detalles</a></button>
			        </article>
                </div>
                <div class="product-container-en-seco">
                    <article class="product-seco">
				        <div class="photo-container-seco">
					        <img src="/images/perfileria.jpg" alt="">
				        </div>
                        <button type="submit"><a href="/productDetail">detalles</a></button>
			        </article>
                </div>
                <div class="product-container-en-seco">
                    <article class="product-seco">
				        <div class="photo-container-seco">
					        <img src="/images/perfileria.jpg" alt="">
				        </div>
                        <button type="submit"><a href="/productDetail">detalles</a></button>
			        </article>
                </div>
                <div class="product-container-en-seco">
                    <article class="product-seco">
				        <div class="photo-container-seco">
					        <img src="/images/perfileria.jpg" alt="">
				        </div>
                        <button type="submit"><a href="/productDetail">detalles</a></button>
			        </article>
                </div>
                <div class="product-container-en-seco">
                    <article class="product-seco">
				        <div class="photo-container-seco">
					        <img class="photo" src="/images/perfileria.jpg" alt="">
				        </div>
                        <button type="submit"><a href="/productDetail">detalles</a></button>
			        </article>
                </div>
            </section>
        </div>
        <div class="nuevo">
            <section>
                <h2>Productos nuevos</h2>
                <div class="product-container">
                    <article class="product">
                        <div class="photo-container">
					        <img class="photo" src="/images/rotomartillo-deWalt-2.jpg" alt="pdto 02">
					        <img class="special" src="/images/img-nuevo.png" alt="nuevo">
				        </div>
                        <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                        <div class="precio">
                            <h2>$51.826</h2>
                        </div>
                        <p class="cuotas">
                            3 cuotas sin interes de $17.276
                        </p>
                        <button type="submit"><a href="/productCard">agregar al carrito</a></button>
			        </article>
                    <article class="product">
				        <div class="photo-container">
					        <img class="photo" src="/images/rotomartillo-deWalt-2.jpg" alt="pdto 02">
					        <img class="special" src="/images/img-nuevo.png" alt="nuevo">
				        </div>
                        <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                        <div class="precio">
                            <h2>$51.826</h2>
                        </div>
                        <p class="cuotas">
                            3 cuotas sin interes de $17.276
                        </p>
                        <button type="submit"><a href="/productCard">agregar al carrito</a></button>
			        </article>
                <article class="product">
				    <div class="photo-container">
					    <img class="photo" src="/images/rotomartillo-lusqtoff.jpg" alt="pdto 02">
					    <img class="special" src="/images/img-nuevo.png" alt="nuevo">
				    </div>
                    <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                    <div class="precio">
                        <h2>$51.826</h2>
                    </div>
                    <p class="cuotas">
                        3 cuotas sin interes de $17.276
                    </p>
                    <button type="submit"><a href="/productCard">agregar al carrito</a></button>
			    </article>
                <article class="product">
                    <div class="photo-container">
                        <img class="photo" src="/images/rotomartillo-stanley.jpg" alt="pdto 02">
					    <img class="special" src="/images/img-nuevo.png" alt="nuevo">
				    </div>
                    <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                    <div class="precio">
                        <h2>$51.826</h2>
                    </div>
                    <p class="cuotas">
                        3 cuotas sin interes de $17.276
                    </p>
                    <button type="submit"><a href="/productCard">agregar al carrito</a></button>
			    </article>
                <article class="product">
				    <div class="photo-container">
					    <img class="photo" src="/images/motocierra-b+d.jpg" alt="pdto 02">
					    <img class="special" src="/images/img-nuevo.png" alt="nuevo">
				    </div>
                    <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                    <div class="precio">
                        <h2>$51.826</h2>
                    </div>
                    <p class="cuotas">
                        3 cuotas sin interes de $17.276
                    </p>
                    <button type="submit"><a href="/productCard">agregar al carrito</a></button>
			    </article>
            </section>
        </div>
        </div>
        <div class="banner-pintura">
            <a href=""><img src="/images/landing-pinturas_tendencia_1.jpg" alt="pinturas"></a>
        </div>
        <div class="product-container">
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="/images/pintura1.jpg" alt="pdto 02">
                    <img class="special" src="/images/img-descuento.png" alt="nuevo">
                </div>
                <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                <div class="precio">
                    <h4>$74.036</h4>
                    <h2>$51.826</h2>
                </div>
                <p class="cuotas">
                    3 cuotas sin interes de $17.276
                </p>
                <button type="submit"><a href="/productCard">agregar al carrito</a></button>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="/images/pintura1.jpg" alt="pdto 02">
                    <img class="special" src="/images/img-descuento.png" alt="nuevo">
                </div>
                <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                <div class="precio">
                    <h4>$74.036</h4>
                    <h2>$51.826</h2>
                </div>
                <p class="cuotas">
                    3 cuotas sin interes de $17.276
                </p>
                <button type="submit"><a href="/productCard">agregar al carrito</a></button>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="/images/pintura1.jpg" alt="pdto 02">
                    <img class="special" src="/images/img-descuento.png" alt="nuevo">
                </div>
                <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                <div class="precio">
                    <h4>$74.036</h4>
                    <h2>$51.826</h2>
                </div>
                <p class="cuotas">
                    3 cuotas sin interes de $17.276
                </p>
                <button type="submit"><a href="/productCard">agregar al carrito</a></button>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="/images/pintura1.jpg" alt="pdto 02">
                    <img class="special" src="/images/img-descuento.png" alt="nuevo">
                </div>
                <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                <div class="precio">
                    <h4>$74.036</h4>
                    <h2>$51.826</h2>
                </div>
                <p class="cuotas">
                    3 cuotas sin interes de $17.276
                </p>
                <button type="submit"><a href="/productCard">agregar al carrito</a></button>
            </article>
            <article class="product">
                <div class="photo-container">
                    <img class="photo" src="/images/pintura1.jpg" alt="pdto 02">
                    <img class="special" src="/images/img-descuento.png" alt="nuevo">
                </div>
                <p>Rotomartillo Taladro Percutor Stanley 1250W + ACC</p>
                <div class="precio">
                    <h4>$74.036</h4>
                    <h2>$51.826</h2>
                </div>
                <p class="cuotas">
                    3 cuotas sin interes de $17.276
                </p>
                <button type="submit"><a href="/productCard">agregar al carrito</a></button>
            </article>
        </div>
    </main>
    <footer>
        <article>
            <h4></h4>
            <p></p>
        </article>
        <article>
            <h4></h4>
            <p></p>
        </article>
        <article>
            <h4></h4>
            <p></p>
        </article>
        <article>
            <h4></h4>
            <p></p>
        </article>
        <span>Copyright ©️ 2022-2023 AR Knight Ferreteria S.R.L.</span>
    </footer>
</body>
</html>