<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR Knigt - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Gemstones&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <img src="/images/logo.png" alt="logo-ferreteria">
        </div>
        <nav class="main-header-top-bar">
            <ul>
                <li><a href=""></a>Home</li>
                <li><a href=""></a>Categorias</li>
                <li><a href=""></a>Contactenos</li>
                <li><a href=""></a>Sucursales</li>
            </ul>
        </nav>
    </header>
    <div class="banner-conteiner">
        <img src="/images/BANNER-HERRAMIENTAS.jpg" alt="banner">
    </div>
    <main class="home">
        <h2>Ofertas</h2>
        <section class="ofertas">
            <article class="product">
				<div class="photo-container">
					<img class="photo" src="/images/amoladora-angular.jpg" alt="pdto 02">
					<img class="special" src="/images/img-descuento.png" alt="descuento">
					<a class= "zoom" href="#">Ampliar foto</a>
				</div>
				<h2>Lorem ipsum amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
				<a class="more" href="#">ver más</a>
			</article>
            <article class="product">
				<div class="photo-container">
					<img class="photo" src="/images/atornillador-inalambrico-bosch.jpg" alt="pdto 02">
					<img class="special" src="/images/img-descuento.png" alt="descuento">
					<a class="zoom" href="#">Ampliar foto</a>
				</div>
				<h2>Lorem ipsum amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
				<a class="more" href="#">ver más</a>
			</article>
            <article class="product">
				<div class="photo-container">
					<img class="photo" src="/images/rotomartillo-deWalt-2.jpg" alt="pdto 02">
					<img class="special" src="/images/img-descuento.png" alt="descuento">
					<a class="zoom" href="#">Ampliar foto</a>
				</div>
				<h2>Lorem ipsum amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
				<a class="more" href="#">ver más</a>
			</article>
        </section>
        <h2>Productos nuevos</h2>
        <section class="nuevo">
            <article class="product">
				<div class="photo-container">
					<img class="photo" src="/images/rotomartillo-lusqtoff.jpg" alt="pdto 02">
					<img class="special" src="/images/img-nuevo.png" alt="nuevo">
					<a class="zoom" href="#">Ampliar foto</a>
				</div>
				<h2>Lorem ipsum amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
				<a class="more" href="#">ver más</a>
			</article>
            <article class="product">
				<div class="photo-container">
					<img class="photo" src="/images/rotomartillo-stanley.jpg" alt="pdto 02">
					<img class="special" src="/images/img-nuevo.png" alt="nuevo">
					<a class="zoom" href="#">Ampliar foto</a>
				</div>
				<h2>Lorem ipsum amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
				<a class="more" href="#">ver más</a>
			</article>
            <article class="product">
				<div class="photo-container">
					<img class="photo" src="/images/motocierra-b+d.jpg" alt="pdto 02">
					<img class="special" src="/images/img-nuevo.png" alt="nuevo">
					<a class="zoom" href="#">Ampliar foto</a>
				</div>
				<h2>Lorem ipsum amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
				<a class="more" href="#">ver más</a>
			</article>
        </section>
    </main>
    <footer>
        <article>
            <h4></h4>
            <p></p>
        </article>
        <article>
            <h4></h4>
            <p></p>
        </article>
        <article>
            <h4></h4>
            <p></p>
        </article>
        <article>
            <h4></h4>
            <p></p>
        </article>
    </footer>
<span>Copyright ©️ 2022-2023 AR Knigt Ferreteria S.R.L.</span>
</body>
</html>