<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR Knigth - Detalle de producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Gemstones&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
     <section class="detalles">
         <article class="img">
            <div>
            <img src="/images/rotomartillo bosch.jpg" alt="agujereadora">
            </div>
            <div class="botones">
        <button>
            Detalle
        </button>
        <button>
         Descripcion 
        </button>
        </div>
         </article>
        <article class="muestreo">
        <h1>
         Marca_modelo   
        </h1>
        <h4>
            detalle
        </h4>
        <p>
         precio $40000    
        </p>
        <p class="rallado">
        precio anterior $60000 
        </p>
        <div class="btn-car">
        <button class="blink">Comprar ahora </button>
        <button class="blink2"> Agregar al carrito</button>
        </div>
        </article>
         </section>
         <article class="pasarela">
         <div class="rulo">
           <h1>Productos relacionados</h1>
           <img src="/images/rotomartillo deWalt 2.jpg" alt="">
           <img src="/images/rotomartillo lusqtoff.jpg" alt="">
           <img src="/images/rotomartillo deWalt.jpg" alt="">
           <img src="/images/rotomartillo-lusqtoff.jpg" alt="">
        </div>
         </article>
   
</body>
</html>